@font-face{
	font-family: 'roboto';
	src: url('../fonts/roboto/Roboto-Light.ttf');
}

body{
	font-family: roboto !important;
}

html, body {
    height: 100%;
    width: 100%;
}

.cont {
	padding-top: 20px;
}

.brand-img{
	padding: 5px;
}

.search{
	padding-top: 15px !important;
}

.section-white{
	margin-top: 20%;
}

.gray{
	background-color: #90a4ae;
}

.green{
	background-color: #26a69a;
}

.thisImage{
	min-height: 200px;
	min-width: 150px;
	max-width: 500px;
	max-height: 700px;
}

.square{
	position: absolute;
    width: 47px;
    height: auto;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.collection .collection-item.avatar {
    min-height: 100px;
    padding-left: 72px;
    position: relative;
    padding-right: 45px;
}

.btn-items{
	padding-right: 11px;
	margin-top: 20px;
}

.btn-items2{
	padding-right: 7px;
	margin-top: 20px;
}

.float-center{
	margin:0 auto;
}

.fixed-action-btn.horizontal ul li{
	margin: 0;
}

#dropdown1{
	width: 194.5px;
	transition: 0.5s;
}

@media (max-width: 500px) { 
	.brand-logo{
		font-size: 1.1rem !important;
	}
}

@media (min-width: 667px){
	.col-md-8{
		width: 80%;
		float: none;
		text-align: center;
		margin: 0 auto;
	}
}

@media (min-width: 992px){
	.col-md-8{
		width: 750px;
		float: none;
		text-align: center;
		margin: 0 auto;
	}
}