@font-face{
	font-family: 'roboto';
	src: url('../fonts/roboto/Roboto-Light.ttf');
}

body{
	font-family: roboto !important;
}

html, body {
    height: 100%;
    width: 100%;
}

.cont {
	padding-top: 20px;
}

.brand-img{
	padding: 5px;
}

.search{
	padding-top: 15px !important;
}

.section-white{
	margin-top: 20%;
}

.gray{
	background-color: #90a4ae;
}

.green{
	background-color: #26a69a;
}

.background{
	min-height: 200px;
	min-width: 150px;
	max-width: 500px;
	max-height: 700px;
}

@media (max-width: 500px) { 
	.brand-logo{
		font-size: 1.1rem !important;
	}
}